<div class='contact_form'>
    <span class='close_button_block'>
        <button type="button" class="btn close_button" data-dismiss="modal">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </span>
    <p style='text-align:center; padding:1%'>
        <span class='contact_title'>Contact Form</span><br />
        <span class='contact_sub_title'>Please fill in your information and we'll get back to you soon.</span>

    </p>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <input type='text' placeholder='Name' value="" class='input_name' formControlName='name' />
        <input type='text' placeholder='Email Address' value="" class='input_email' formControlName='email' />
        <input type='text' placeholder='Mobile Number' value="" class='input_mobile' formControlName='mobile' />
        <input type='text' placeholder='Property Id (if any)' value="" class='input_id' formControlName='property_id' />
        <textarea rows='10' placeholder='Message' formControlName='message'></textarea>
        <br />
        <button type='submit' class='btn submit_button'>
            <svg *ngIf='!showLoader' width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-check2-all" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.354 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                <path d="M6.25 8.043l-.896-.897a.5.5 0 1 0-.708.708l.897.896.707-.707zm1 2.414l.896.897a.5.5 0 0 0 .708 0l7-7a.5.5 0 0 0-.708-.708L8.5 10.293l-.543-.543-.707.707z"/>
            </svg>
            <span *ngIf='showLoader' class="spinner-border text-light"   role="status"></span>
        </button>
    </form>
    <p *ngIf='message' style='text-align: center; color: white; font-size: 14px;'>
        <span>{{ message }}</span>
    </p>
</div>