<div class='content'>
    <div class='options' *ngIf='property'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ property.unique_id }}</li>
            </ol>
        </nav>
        <div class='row'>
            <div class='col-md-6 col-12'>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" *ngFor='let review of property.images let c=index;' [class.active]='c<1' style='text-align:center;'>
                            <img src="http://127.0.0.1:8000{{review.image}}" alt='...' class='property_image' />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev" >
                        <span class="carousel-control" aria-hidden="true">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="#00d5c3" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control" aria-hidden="true">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="#00d5c3" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class='col-md-6 col-12'>
                <p>
                    Description<br />
                    {{ property.description }}
                </p>
                <p>
                    Specification<br />
                    BHK : {{ property.bhk }}  || SIZE : {{ property.size }} || Est. Price : {{ property.est_price }}
                </p>
                <div *ngIf='property.nearby.length>0' style='color:white;'>
                    Benifits<br />
                    <h6 *ngFor='let near of property.nearby'>
                        <span>{{ near.place }} is {{ near.distance }} KM away</span>
                    </h6>
                </div>
                <div class='row'>
                    <div class='col'>
                        <div class="modal fade readReview" [ngClass]="{'show':showReviewModal}" id="readReview" data-backdrop="static" data-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true" (open)="onShow($event)">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">

                                    <div class='contact_form'>
                                        <span class='close_button_block'>
                                            <button type="button" class="btn close_button" data-dismiss="modal">
                                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="white" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                </svg>
                                            </button>
                                        </span>
                                        <p style='text-align:left; padding:1%'>
                                            <span class='contact_title'>Customer Review's</span><br />
                                        </p>
                                    
                                        <div class='row'>
                                            <div class='col-md-3 col-6 col-s-4' *ngFor='let r of reviews'>
                                                <br />
                                                <div class='user_review_block' style='width:100%; height:100%; margin: 1% 0;'>
                                                    <span style='margin: 1%;'>
                                                        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-chat-quote" fill="#00d5c3" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                                                            <path d="M7.468 7.667c0 .92-.776 1.666-1.734 1.666S4 8.587 4 7.667C4 6.747 4.776 6 5.734 6s1.734.746 1.734 1.667z"/>
                                                            <path fill-rule="evenodd" d="M6.157 6.936a.438.438 0 0 1-.56.293.413.413 0 0 1-.274-.527c.08-.23.23-.44.477-.546a.891.891 0 0 1 .698.014c.387.16.72.545.923.997.428.948.393 2.377-.942 3.706a.446.446 0 0 1-.612.01.405.405 0 0 1-.011-.59c1.093-1.087 1.058-2.158.77-2.794-.152-.336-.354-.514-.47-.563zm-.035-.012h-.001.001z"/>
                                                            <path d="M11.803 7.667c0 .92-.776 1.666-1.734 1.666-.957 0-1.734-.746-1.734-1.666 0-.92.777-1.667 1.734-1.667.958 0 1.734.746 1.734 1.667z"/>
                                                            <path fill-rule="evenodd" d="M10.492 6.936a.438.438 0 0 1-.56.293.413.413 0 0 1-.274-.527c.08-.23.23-.44.477-.546a.891.891 0 0 1 .698.014c.387.16.72.545.924.997.428.948.392 2.377-.942 3.706a.446.446 0 0 1-.613.01.405.405 0 0 1-.011-.59c1.093-1.087 1.058-2.158.77-2.794-.152-.336-.354-.514-.469-.563zm-.034-.012h-.002.002z"/>
                                                        </svg>
                                                    </span>
                                                    <span class='review'>
                                                        {{ r.comment }}
                                                    </span><br />
                                                    <span class='float-right author'>
                                                        -- Mr. {{ r.name }}
                                                    </span>
                                                    <hr />
                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <app-read-review></app-read-review> -->
                                </div>
                            </div>
                        </div>
                        <button (click)='showReviewModal=true' class='btn btn-lg btn-danger' style='width:100%; margin:0 1%;' data-toggle="modal" data-target="#readReview">Read Reviews</button>
                    </div>
                    <div class='col'>
                        <div class="modal fade" [ngClass]="{'show':showWriteModal}" id="writeReview" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <app-write-review></app-write-review>
                                </div>
                            </div>
                        </div>
                        <button class='btn btn-lg btn-danger'  style='width:100%; margin:0 1%;' data-toggle="modal" data-target="#writeReview">Write Reviews</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

 
  <!-- Modal -->

